<div class="center jumbotron">
  <h1>デキ婚斡旋サイト</h1>
  
  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="setting-image">
 <%= link_to image_tag("setting.jpg", alt: "Rails logo", width: "400px"),
                      "https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG8Zl2TWmiBgBcQeH5J-xv2qfdhHmAF8Pfacdn45skpEb1v_qwY45IrwDE2Sfrs1JWOHc-yw8m9TY1ggPH2FKpOpYWyTN_WwbzB-DdnCA6Wc5WtiL9LUo4nRk8W_bGzK9ye28SnMOerjDmTYg34zCsoHYCFf9m-1Biu7lyqxs1EvffoVnFcEJyZb9aKiLWhxuDMGxeci2OVzpuNK1gfac9Yk0zKt7lFSJE1dY-1EYQ3cpdnx-OTCaHFfgvGtfqgT4_YJNIupbZnAWJjZnhuRzh-xNALZLbybqNck9n4U-BQe0j7g1yvU-Ke8W2c-r4ZscnkX1SAS0NrJuAy8xmBuXXr6TUuSMI1YtRGPwiWHX9nugPx2u_mLhW88ziCAqCjAOog==/86e61a05-489a-43a3-b33d-3790458f9162.jpg?errorImage=false" %>
</div>