<% provide(:title, @user.name) %>
<div>
    <div class="user_info">
        <div class="profile-avatar-img">
          <% if @user.avatar? %>
        　　<%= image_tag @user.avatar.url %>
          <% end %>
        </div>
        
        <%= @user.name %>
        <% if current_user != @user %>
          <%= link_to "チャット", room_path(@room) %>
        <% end %>
        <% if current_user.admin? && !current_user?(@user) %>
          | <%= link_to "削除", @user, method: :delete,
                                        data: { confirm: "You sure?" } %>
        <% end %>
    </div>
</div>