<% provide(:title, '掲示板') %>
<h1>掲示板</h1>

<% if @current_user.admin? %>
  <li><%= link_to "掲示板の追加", new_board_path %></li>
<% end %>

<ul class="boards">
  <% @boards.each do |board| %>
    <li>
      <%= link_to board.district_name, board_path(board) %> <%= board.id %>
    </li>
  <% end %>
</ul>