<% provide(:title, 'お相手を探す') %>
<h1>お相手を探す</h1>

<ul class= "circle-option">
  <li><%= link_to "1:1", boards_path %></li>
  <li><%= link_to "2:2", {controller: "boards", action: "index", name: "index2"} %></li>
  <li><%= link_to "3:3", {controller: "boards", action: "index", name: "index3"} %></li>
  <li><%= link_to "4:4", {controller: "boards", action: "index", name: "index4"} %></li>
</ul>