<% provide(:title, @board.whatvswhat) %>
<h1>～<%= @board.whatvswhat %>～</h1>

<% if @posts.any? %>
  <ol class="posts">
    <%= render @posts %>
  </ol>
<% end %>

<div class="center"><%= link_to "新規投稿をする", new_board_post_path(@board), class: "btn btn-primary" %></div>