@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.main {
  background-color: #F5F5F5;
  margin: -15px;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #333333;
}

.homeh2:first-letter {
  font-size: 2em;
  color: #111111;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #FF5192;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #FF0461;
    text-decoration: none;
  }
}

.navbar {
  background-color: #FFFFCC;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* 新規登録forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/*新規登録エラー*/
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* Rooms index */

.rooms {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/************************************
** チャットの吹き出し
************************************/

#message-container {
  padding: 20px 10px;
  max-width: 768px;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
  background: white;
}

.fukidasi {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}
.fukidasi .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}
.fukidasi .faceicon img{
  width: 90%;
  height: auto;
  border-radius: 50%;
}
.fukidasi .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  // border-radius: 12px;
  background: #edf1ee;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}

/*以下、③右側の緑コメント*/
.mycommet {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
}
.mycomment p:after {
  content: "";
  // display: inline-block;
  position: absolute;
  // top: px;
  // left: -19px;
  // border: 8px solid transparent;
  // border-left: 18px solid #edf1ee;
  // -webkit-transform: rotate(35deg);
  // transform: rotate(35deg);
}
.mycomment p {
  display: inline-block;
  max-width: 250px;
  // border-radius: 12px;
  background: #F0FFF0;
  font-size: 15px;
}


// メッセージ投稿フォーム
.message-footer {
  max-width: 768px;
  padding: 1rem;
  margin: 0 auto;
  background-color: white;
}

// メッセージの送信ボタン無効化時のスタイル
.btn-primary.disabled {
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: auto;
}

/* 自分で追加 */
.setting-image {
  text-align: center;
}

.option-container{
  display: flex;
}

.option-container > a{
  margin: 10px;
  width: 25%;
  height: 300px;
  border-radius: 50%;
}

.option-1{
  background: #FFFFCC;
}

.option-2{
  background: #CCFFFF;
}

.option-3{
  background: #CCFFCC;
}

.option-4{
  background: #FFCCCC;
}

// ホームのカルーセル

%transition_all_03s {
  transition:all .3s ease;
}
%backface_visibility_hidden{
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper-container {
  margin-top: -33px;
  width: 100%;
  height: 28vw;
  transition:opacity .6s ease;
  &.swiper-container-coverflow{
    padding-top:2%;
  }
  &.loading{
    opacity:0;
    visibility:hidden;
  }
  &:hover{
    .swiper-button-prev,
    .swiper-button-next{
      transform:translateX(0);
      opacity:1;
      visibility:visible;
    }
  }
}
.swiper-wrapper{

}
.swiper-slide{
  background-position:center;
  background-size:cover;
  .slide-inner{
    
  }
  .entity-img{
    display:none;
  }
  .content{
    position:absolute;
    top:40%;
    left:0;
    width:50%;
    padding-left:5%;
    color:#fff;
    .title{
      font-size:2.6em;
      font-weight:bold;
      margin-bottom:30px;
    }
    .caption{
      display:block;
      font-size:13px;
      line-height:1.4;
    }
  }
}
[class^="swiper-button-"]{
  width:44px;
  opacity:0;
  visibility:hidden;
  @extend %transition_all_03s;
}
.swiper-button-prev{
  transform:translateX(50px);
}
.swiper-button-next{
  transform:translateX(-50px);
}
.swiper-container-horizontal{
  >.swiper-pagination-bullets{
    .swiper-pagination-bullet{
      margin:0 9px;
      position:relative;
      width:12px;
      height:12px;
      background-color:#fff;
      opacity:.4;
      @extend %transition_all_03s;
      &::before{
        content:'';
        position:absolute;
        top:50%;
        left:50%;
        width:18px;
        height:18px;
        transform:translate(-50%, -50%);
        border:0px solid #fff;
        border-radius:50%;
        @extend %transition_all_03s;
      }
      &:hover,
      &.swiper-pagination-bullet-active{
        opacity:1;
      }
      &.swiper-pagination-bullet-active{
        &::before{
          border-width:1px;
        }
      }
    }
  }
}

// Mediaqueries
@media(max-width:1180px){
  .swiper-slide{
    .content{
      .title{
        font-size:25px;
      }
      .caption{
        font-size:12px;
      }
    }
  }
}
@media(max-width:1023px){
  .swiper-container {
    height:40vw;
    &.swiper-container-coverflow{
      padding-top:0;
    }
  }
}

// カードデザイン
.index-content a:hover {
  color: black;
  text-decoration: none;
}

.index-content {
  margin-bottom: 20px;
  padding: 50px 0px;
}

.index-content .row {
  margin-top: 20px;
}

.index-content a {
  color: black;
}

.card {
  margin-bottom: 20px !important;
}

.index-content .card {
  background-color: #FFFFFF;
  padding: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.index-content .card img {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.index-content .card h4 {
  margin: 20px;
}

.index-content .card p {
  margin: 20px;
  opacity: 0.65;
}

.index-content .blue-button {
  width: 100px;
  -webkit-transition: background-color 1s, color 1s;
  /* For Safari 3.1 to 6.0 */
  transition: background-color 1s, color 1s;
  min-height: 20px;
  background-color: #002E5B;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  font-weight: lighter;
  margin: 0px 20px 15px 20px;
  padding: 5px 0px;
  display: inline-block;
}

@media (max-width: 768px) {
  .index-content .col-lg-4 {
    margin-top: 20px;
  }
}

// 記事のshowデザイン

.article-page img {
  max-width: 70%;
  height: auto;
  box-sizing: inherit;
}

.article-page {
  text-align: center;
}

.article-content::before {
  content: "\A";
  white-space: pre;
}

.article-content {
  background-color: #FFFFEE;
  max-width: 70%;
  margin: 0 auto;
}

// postデザイン

.post-user-info {
  width: 500px;
  height: 80px;
  background-color: #FFC107;
  margin: 0 auto;
}

.post-avatar-img img {
  width:  50px;       /* ※縦横を同値に */
  height: 50px;       /* ※縦横を同値に */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  background-position: center center;  /* 横長画像の左上を基準に表示 */
  display: inline-block;
}

table.postable {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  margin-top: -20px;
  margin-bottom: 20px;
  width: 500px;
  // box-shadow: 0 0 15px -6px #00000073;
}
table.postable tr {
  background-color: #FFFFDD;
}
table.postable tbody tr:hover{
  background-color: #fffae9;
}

table.postable tbody th {
  width: 100px;
}

table.postable th,
table.postable td {
  padding: .35em 1em;
  border-bottom: 1px solid #eee;
  text-align: center;
}
// table.postable thead th {
//     font-size: .85em;
//     padding: 1em;
// }
// table.postable thead tr{
//   background-color: #FFC107;
//   color:#fff;
// }
table.postable tbody th {
  text-align: left;
  font-size: .8em;
}
.txt{
   text-align: left;
   font-size: .75em;
}

@media screen and (max-width: 600px) {
  table.postable{width: 100%;}
}




// ホームデザイン
.service-block {
  margin: 0 auto;
}

.service-block > ul {
  list-style: none;
}

.service-about {
  margin: 0 auto;
}

.service-about > li {
  padding-bottom: 20px;
}

.service-about-box {
  background-color: white;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 0 8px gray;
}

.service-about-box > p {
  text-align: center;
}

.service-about-image {
  margin: 0 auto;
}

.service-about-image > img {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.service-about-image > h3 {
  text-align: center;
}

table.optional {
  margin: 0 auto;
  width:300px
}

table.optional th, 
table.optional td {
  border: 2px block solid;
  /*実線 1px 黒*/
  text-align: center;
}

table.optional th {
  background-color: #F5DEB3;
}

.profile-avatar-img img {
  width:  150px;       /* ※縦横を同値に */
  height: 150px;       /* ※縦横を同値に */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  background-position: center center;  /* 横長画像の左上を基準に表示 */
  display: inline-block;
  
}