<footer class="footer">
  <small>
    こちらは<%= link_to "Cheers!", root_path %>
    by <a href="#">渡部敬太</a>
  </small>
  
  <nav>
    <ul>
      <li><%= link_to "合コンで使えるお役立ち情報", articles_path %></li>
    </ul>
  </nav>
</footer>